[Unit]
Description=Shower Music Interface

[Service]
User=root
Type=simple
WorkingDirectory=/home/ubuntu/pwm
ExecStart=/usr/bin/python3 /home/ubuntu/pwm/play.py
Restart=always

[Install]
WantedBy=multi-user.target
